# Moved from requirements/jupyter/requirements.txt
numpy
pandas
matplotlib
flask
psycopg
psycopg-binary
pymongo
tabulate
seaborn
scikit_learn
xgboost
statsmodels
spacy
chardet

click
np_utils
graphviz
catboost
vecstack

plotly
lightgbm
openpyxl
joblib

unstructured-client
unstructured
unstructured-inference
unstructured.pytesseract
urllib3
python-dotenv
panel
ipython
python-pptx
pdf2image
pdfminer
opencv-python

pikepdf
pypdf
ipywidgets
pyspark
folium
ipyleaflet
gdown
neo4j
psycopg2-binary
dash-ag-grid
cartopy
pycountry
python-jobspy
markdownify
requests
beautifulsoup4
pydantic
tls-client
regex
selenium>=4.16.0
wheel
pytest